@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: .2s;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(32, 33, 36);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.book-layout-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0;
}

.book-layout {
  width: 20vw;
}

.book-img {
  width: 100%;
}

.book-img img {
  width: 100%;
  border: solid 1px rgb(220, 220, 220);
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,0.35);
}

.book-img img:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.book-desc {
  width: 100%;
}

.author {
  color: #777;
  font-size: 0.8em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-heading {
  padding: 20px 0;
  border-top:solid 1px rgb(194, 194, 194);
  border-bottom:solid 1px rgb(194, 194, 194);
}